.parent{
    height: 200px;
    background-color: grey;
    display: flex;
    align-items: flex-start;

    justify-content: center;
     justify-content: space-evenly; 
    
}
.child{
    width: 50px;
    height: 50px;
    background-color: red;
}